{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %}{{board.title}}{% endblock title %}

<!-- CSS -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/board.css' %}">
{% endblock stylesheet %}

<!-- Content -->
{% block content %}
<div class="container">
  <!-- 게시글 -->
  <div class="post">
    <header>
      <h3>{{board.title}}</h3>
      <p>{{board.pub_date}}{{board.author}}</p>
    </header>
    <p>{{board.text}}</p>
    <!-- 글 작성자는 수정, 삭제 가능 -->
    {% if request.user.id == board.author.id %}
    <a href="{% url 'board:board_delete' pk=board.id %}" class="button small">Delete</a>
    <a href="{% url 'board:board_update' pk=board.id %}" class="button special small">Update</a>
    {% endif %}
  </div>

  <!-- 댓글 -->
  <div class="comment">
    <h5>댓글</h5>
    <!-- 댓글 작성 -->
    <form id="comment-form" action="{% url 'board:comment_create' board.id %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <a href="#" class="button special" onclick="document.forms['comment-form'].submit();">작성</a>
    </form>

    <!-- 댓글 보기 -->
    {% for comment in board.comments.all %}
      <pre>{{comment.writer}}:        {{comment.text}}</pre><br>
      {% if request.user == comment.writer %}
        <a href="{% url 'board:comment_update' comment.id %}">수정</a>
        <a href="{% url 'board:comment_delete' comment.id %}">삭제</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock content %}