{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %}게시글{% endblock title %}

<!-- CSS -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/board.css' %}">
{% endblock stylesheet %}

<!-- Content -->
{% block content %}
<div class="container">
  <h3>게시글</h3>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Num</th>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <!-- 게시글 존재 시 -->
        {% if board_list %}
        {% for board in board_list %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="{{board.get_absolute_url}}">{{board.title}}</a></td>
          <td>{{board.author}}</td>
        </tr>
        {% endfor %}
        <!-- 게시글 존재 X -->
        {% else %}
        <td colspan="3">현재 게시글이 존재하지 않습니다.</td>  
        {% endif %}
      </tbody>
    </table>
  </div>
  <a href="{% url 'board:board_upload' %}">글작성</a>
</div>
{% endblock content %}



