{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %}{{board.title}}{% endblock title %}

<!-- CSS -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/board.css' %}">
{% endblock stylesheet %}

<!-- Content -->
{% block content %}
<div class="container">
  <!-- 게시글 -->
  <div class="post">
    <header>
      <h3>{{board.title}}</h3>
      <span class="detail-author"><a href="{% url 'member:profile' board.author.id %}">{{board.author}}</a></span>
      <span class="detail-date">{{board.pub_date}}</span>
    </header>

    <div class="context">
    <p>{{board.text}}</p>
    </div>
    <!-- 글 작성자는 수정, 삭제 가능 -->
    {% if request.user.id == board.author.id %}
    <div class="edit-post">
      <a href="{% url 'board:board_delete' pk=board.id %}" class="button small">Delete</a>
      <a href="{% url 'board:board_update' pk=board.id %}" class="button special small">Update</a>
    {% endif %}
    </div>
  </div>

  <!-- 댓글 -->
  <div class="comment">
    <h5>댓글</h5>
    <!-- 댓글 작성 -->
    <div class="comment-form">
      <form id="comment-form" action="{% url 'board:comment_create' board.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <div class="comment-submit ">
        <a href="#" class="button special" onclick="document.forms['comment-form'].submit();">작성</a>
        </div>
      </form>
    </div>
    <!-- 댓글 보기 -->
    <div class="comment-list">
    {% for comment in board.comments.all %}
      <div class="comment">
      <span class="comment-writer"><a href="{% url 'member:profile' comment.writer.id %}">{{comment.writer}}</a>:</span>
      <span class="comment-text">{{comment.text}}</span>
      {% if request.user == comment.writer %}
        <span class="comment-edit">
        <a href="{% url 'board:comment_update' comment.id %}">수정</a>
        <a href="{% url 'board:comment_delete' comment.id %}">삭제</a>
        </span>
      {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}