{% extends "base.html" %}
{% load static %}
{% block title %}저는 이런 사람입니다.{% endblock title %}

{% block content %}

<!-- One -->
<section id="one">
  <div class="inner">
    <header>
      <h2>새로운 것에 도전하는 사람입니다.</h2>
    </header>
    <p>
      
    </p>
  </div>
</section>

<!-- Two -->
<section id="two">
  <div class="inner">
    <div class="content">
      <header>
        <h2>책임감이 강한 사람입니다.</h2>
      </header>
      <div class="image fit">
        <img src="{% static 'images/pic01.jpg' %}" alt="" />
      </div>
      <p>
        
      </p>
    </div>
  </div>
</section>

<!-- Three -->
<section id="three">
  <div class="inner">
    <div class="content">
      <header>
        <h2>배워서 남 주는 사람입니다.</h2>
      </header>
      <p>
      
      </p>
    </div>
  </div>
</section>

{% endblock content %}
