{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %}회원탈퇴{% endblock title %}

<!-- CSS -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <h5>{{user.username}}님의 계정이 삭제됩니다. 정말로 탈퇴할까요?</h5>
    본인인증을 위해 비밀번호를 입력하세요.
    {{ password_form.password }}
    <input type="button" class="button small" value="돌아가기" onclick="history.back(-1)">
    <input type="submit" class="button special small" value="탈퇴">
  </form>
</div>
{% endblock content %}