{% extends "base.html" %}
{% load static %}

<!-- Title -->
{% block title %}{{ user.username }}{% endblock title %}

<!-- CSS -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock stylesheet %}

<!-- Content -->
{% block content %}
<div class="container">
  {% if member.profile.picture %}
  <img src="{{ member.profile.picture.url }}" alt="" class="profile"><br>
  {% endif %}
  
  아이디: {{ member.username }}<br>
  닉네임: {{ member.profile.nickname }}<br>
  이름: {{ member.first_name }}<br>
  성: {{ member.last_name }}<br>
  이메일 주소: {{ member.email }}<br>
  소개: {{ member.profile.introduce }}<br>

  <!-- 자신 프로필일 경우 -->
  {% if user.id == member.id %}
  <a href="{% url 'member:profile_update' %}">프로필 변경</a>
  <a href="{% url 'member:member_delete' %}">탈퇴</a>
  {% endif %}

</div>
{% endblock content %}