{% load static %}

<!-- Footer -->
<section id="footer">
  <div class="inner">
    <header>
      <h2>개발자 정보</h2>
    </header>
    <h4>이름: 손찬우</h4>
    <h4>생년월일: 1994/04/22</h4>
    <h4 style="text-transform: initial;">Email: y02645@gmail.com</h4>
    
    <h4>홈페이지</h4>
    <ul>
      <li><h5 style="text-transform: initial;">Github: <a href="https://github.com/gagip?tab=repositories">https://github.com/gagip?tab=repositories</a></h5></li>
      <li><h5 style="text-transform: initial;">Youtube: <a href="https://www.youtube.com/channel/UC020nAEd-WfhrgLhbta7mHA">https://www.youtube.com/channel/UC020nAEd-WfhrgLhbta7mHA</a></h5></li>
    </ul>
  </div>
</section>