{% load static %}

<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="{% url 'blog:index' %}" class="logo">gagip Portfolio</a>
    <nav id="nav">
      <a href="{% url 'blog:introduce' %}">gagip 소개</a>
      <a href="{% url 'project:list' %}">프로젝트</a>
      <a href="{% url 'board:board_list' %}">게시글</a>
      <!-- 로그인 상태에 따른 항목 변화 -->
      {% if user.is_active %}
      <a href="{% url 'member:profile' user.id %}">{{ user.username }}</a>
      <a href="{% url 'member:logout' %}">로그아웃</a>
      {% else %}
      <a href="{% url 'member:login' %}">로그인</a>
      {% endif %}
    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>