.profile-container {
    display: flex;
    justify-content: center;
}

.profile-table {
    width: 800px;
}

.label {
    width: 200px;
}

.context {
    width: 600px;
}

.profile-edit {
    float: right;
}
